#scroll-chart {
    position:fixed;
    left:10px;
    top:10px;
    height:50px;
    width:50px;
    z-index:10;
}

hr {
    border:0;
    border-bottom:2px solid cyan;
    border-top:2px solid magenta;
}

.tag {
    box-sizing:border-box;
    padding:5px 10px;
    border-radius:5px;
}

body {
  font-family: 'TPB AFK', serif;
  background:#000;
  background-size:100%;
  margin:0;
  padding:0;
  color:#fff;
}

ul, li {
    list-style-type:none;
    margin:0;
    padding:0;
}

li {
    padding:10px 10px;
    border-top:1px solid #289;
}

p {
    font-family: 'Avenir Next'
}

div {
    box-sizing:border-box;
}

h1, h2, h3, p, pre { margin:0; }

h1 {
    font-weight:normal;
}

em.js {
    background:yellow;
    color:black;
    padding:0 10px;
}

table {
    width:100%;
}

td {
    vertical-align:top;
}

h3 {
    text-align:center;
}

p {
    padding:10px 0;
    line-height:150%;
}

.striped {
}

.dialog {
    background:url(dialog.gif);
}

.pad1 {
    padding:20px;
}

.overlay {
    background:#222;
}

em, a {
  font-style:normal;
  color:#8FF;
}

a {
  color: #ff1759;
}

img { width:100%; }

div.slide {
  padding:10%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  cursor:pointer;
  cursor:hand;
  font-size:40px;
  overflow:hidden;
}
