body {
  font-family: 'Liberation Serif', 'Times New Roman', serif;
  background:#000;
  background-size:100%;
  color:#fff;
  margin:0;
  padding:0;
}

small {
  font-size:40%;
  line-height:40%;
}

h1, h2, h3, p {
  margin:0;
}

p {
  line-height:130%;
}

em, a {
  color:#aff;
}

a {
  background: #34d0e7;
  color:#000;
  text-decoration:none;
}

img {
  width:100%;
}

code {
  white-space: nowrap;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:10%;
  line-height:97%;
}

div.center {
  text-align:center;
}

strong {
  font-size:150%;
  color:#fae;
  font-weight: bold;
  font-family: 'Bodoni 72', 'Baskerville', 'Times New Roman', serif;
}

.white {
  background:rgba(255, 255, 255, 0.9);
  color:#000;
  line-height:130%;
}

.light {
  background:#fff;
  color:#000;
  font-size:30%;
  border:4px solid #000;
  padding:5%;
  line-height:130%;
}
