body {
  font-family: 'Helvetica';
  background:#000;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center center;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold;
}

h1, h2, h3, p {
  margin:0;
}

em {
  font-style:normal;
  color:yellow;
}

a {
  font-family:'CMU Typewriter Text', monospace;
  text-decoration:none;
  color:yellow;
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:150%;
}

div.bigger {
  padding:5px;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}

code {
    font-family:'CMU Typewriter Text', monospace;
    font-weight:normal;
}

.small {
    font-size:30%;
}

.nobreak {
    white-space:pre;
}

pre {
    margin:0;
    padding:0.2em;
    background:#fff;
    color:#000;
    font-weight:normal;
}

code {
    color:#000;
    background:#fff;
}

pre em {
    color:#000;
    background:yellow;
}

td.two {
    color:yellow;
}
pre.two {
    background-color:yellow;
}
@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.5; }
}
.blink {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 800ms; 
}

.deemphasize {
    color:#777;
}

body.gainsboro {
    background:gainsboro;
    color:#000;
}

notes {
    display:none;
}
