body {
  font-family:'Helvetica';
  background:#000;
  background-size:100%;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold;
}

ul {
  margin: 0;
}

h1, h2, h3, p {
  margin:0;
}

l {
  opacity: 0.7;
}

em, a {
}

e {
  color:hsl(200, 100%, 90%);
}

a {
  background:#34d0e7;
  color:#000;
  text-decoration:none;
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:120%;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}

notes {
    display:none;
}

nb { white-space:pre; }

pink { color: pink; }

f {
  background:#fff;
  color:#000;
}

.white-once {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  background:#fff;
}
.white-once img {
  width: 100%;
}

/* normally not good, but ok in context of full screen directional navigation */
:focus {
    outline: 0;
}

pre {
  font-family: Monoid;
  font-weight:normal;
  line-height:140%;
}

doc {
  color:pink;
}
