#scroll-chart {
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:10px;
    width:100%;
    z-index:-10;
}

body {
  font-family: 'Georgia', serif;
  background:#fff;
  background-size:100%;
  margin:0;
  padding:0;
  color:#111;
}

div {
    box-sizing:border-box;
}

h1, h2, h3, p, pre { margin:0; }

h1 {
    font-weight:normal;
}

p {
    padding:10px 0;
}

.striped {
    background:url(stripes.gif);
}

.pad1 {
    padding:20px;
    margin-top:100px;
}

.overlay {
    background:#fff;
}

div.major {
    padding:10% !important;
    font-size:60px !important;
}

em, a {
  font-style:normal;
  color:#ff1759;
}

a {
  color: #ff1759;
}

img { width:100%; }

div.slide {
  padding:0%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  cursor:pointer;
  cursor:hand;
  font-size:40px;
  overflow:hidden;
}
