body {
  font-family: 'Brandon Grotesque';
  background:#fff;
  background-size:100%;
  color:#000;
  margin:0;
  padding:0;
  font-weight:bold;
  text-align:center;
  background-repeat:no-repeat;
}

h1, h2, h3, p {
  margin:0;
}

em, a {
  font-style:normal;
  color:#22f;
}

i {
    color:#fff;
}

a {
  background: #34d0e7;
  color:#000;
  text-decoration:none;
}

img {
  width:100%;
}

div.slide {
  top:0px;
  left:0px;
  line-height:100%;
  position:absolute;
  padding:10vw;
}

div.slide.prose {
  font-size:5vw;
  text-align:left;
  padding:10px;
}

div.center {
  text-align:center;
}

.nowrap {
  white-space:nowrap;
}
