body {
  background: #929292;
  font-family: "Open Sans", sans-serif;
  margin: auto;
  width: 1280px;
}

a {
  color: #6baed6;
}

strong {
  background:#000;
}

iframe {
    background:#fff;
}

a:not(:hover) {
  text-decoration: none;
}

.stack {
  background: #222;
  color: #fff;
  background-size:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none;
  font-size: 48px;
  height: 800px;
  padding: 160px 80px;
  width: 1280px;
  -webkit-transform: translate3d(0,0,0);
}

.active {
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
  display: block;
  position: fixed;
}

.grey {
  color: #969696;
}

@media
screen and (max-device-width: 1024px) {
  body {
    width: 1200px;
  }

  .stack {
    margin: 40px 0;
  }

  .stack {
    display: block;
  }
}
