@import url('railscasts.css');
body {
  background:#000;
  color:#fff;
  font:normal 4.02vw Inconsolata;
  line-height: 5.1vw;
}

pre, body { margin:0; padding:0; }

em { color: yellow; font-weight:bold; }
